<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/xulydangky" method="post" enctype="multipart/form-data">
      <p>Name: <input type="text" name="name" value=""></p>
      <p>Age: <input type="text" name="age" value=""></p>
      <p><input type="file" name="avatar" value=""></p>
      <p><input type="submit" name="" value="Ok"></p>
    </form>
    <form class="" action="/xulydangtin" method="post" enctype="multipart/form-data">
      <p>Title <input type="text" name="title" value=""></p>
      <p>Body <input type="text" name="body" value=""></p>
      <p>Image <input type="file" name="product" value=""></p>
      <p><input type="submit" name="" value="Ok"></p>
    </form>
    <form class="" action="/xuly" method="post" enctype="multipart/form-data">
      <p>Muti File</p>
      <p>Image <input type="file" name="product2" value="" multiple></p>
      <p><input type="submit" name="" value="Ok"></p>
    </form>
  </body>
</html>
