<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% var a = '<h1>Khoa Pham</h1>'
      var b = 18;
      if(b >18){%>
        <p>Du 18</p>
    <%}else{%>
      <p>chua du 18</p>
    <%}%>
    <%=a%>
    <%-a%>
    <%var arr=[1,2,3,4,5,6]%>
    <% arr.forEach((x)=>{%>
      <p><%=x%></p>
    <%})%>
  </body>
</html>
