<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/xulypheptinh" method="post">
      <p>Number A: <input type="text" name="a" value=""></p>

      <p>Number B: <input type="text" name="b" value=""></p>
      <p><select class="" name="pt">
        <option value="+">Cong</option>
        <option value="-">Tru</option>
        <option value="*">Nhan</option>
        <option value="/">Chia</option>
      </select></p>
      <p><input type="submit" name="" value="Ok"></p>
    </form>
  </body>
</html>
